body {
	margin: 0;
	padding: 80px 0 0;
	font-family: avenir next, avenir, sans-serif;
	background: #282a37;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	background: #282a37;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	padding: 0 20px;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
}

.intro p {
	color: #fff;
	font-size: 20px;
	padding: 0 50px;
}

.hero {
	height: 60vh;
	width: 100%;
	background-image: url('/assets/hydrate.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}

h1 {
	font-size: 38px;
	font-weight: normal;
	color: #fff;
}

button {
	background: #fff;
	padding: 10px;
	background: #494c64;
	border: 1px solid #181a27;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	width: 2em;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.list-group-item {
	background: #282a37;
	border-bottom: 3px solid #42444f;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding: 20px 0;
}

.list-group-item .name {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 2px;
	margin-top: 0;
}

.list-group-item .location {
	color: #f1fb8f;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.list-group-item .avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}

.list-group-item .avatar img {
	width: 60px;
	border-radius: 30px;
	border: 1px solid #f0f0f0;
	margin-left: 20px;
}

@media only screen and (max-width: 600px) {
	body {
		padding-top: 50px;
	}

	.header {
		height: 50px;
	}

	h1 {
		font-size: 18px;
	}

	.icon {
		display: none;
	}

	button {
		font-size: 14px;
		padding: 5px;
	}
}
