html, body {
	margin: 0;
	font: 16px/1.3 system-ui,sans-serif;
}

.header {
	background: #eee;
}

h1 {
	font-size: 150%;
	color: #555;
}

.profile {
	background: #eee;
	padding: 5px;
	margin: 5px;
}
.profile h4 {
	margin: 0;
}
.profile h5 {
	margin: 5px 0 0;
}
